@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");

@font-face {
  font-family: "tektur";
  src: url(./assets/fonts/Tektur-VariableFont_wdth\wght.ttf);
}

li {
  list-style-type: none;
}

H1 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  font-size: 3em;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  font-size: 2em;
}
H3 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 3em;
  text-shadow: 6px 2px 2px #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#Premiertrait {
  height: 3px;
  width: 35%;
  margin: -1px auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 6px 2px 2px #000000;
}
