@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");

@font-face {
  font-family: "tektur";
  src: url(./assets/fonts/Tektur-VariableFont_wdth\wght.ttf);
}

body {
  font-family: "tektur";
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

nav {
  overflow: hidden;
  background-color: rgba(252, 2, 119, 0.781);
  position: fixed;
  width: 100%;
  opacity: 0.9;
  padding: 10px;
}

header li {
  float: right;
  font-size: 1.2rem;
}
header li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 16px;
  color: black;
}

li {
  list-style-type: none;
}

#ImagePrincipale {
  background-image: url(collage-arriere-plan-programmation_23-2149901788.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 70px;
  background-size: cover;
  height: 700px;
  width: 50%;
  margin: 0px 0px 0px 0px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  font-size: 3em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 6px 2px 2px #000000;
  font-size: 4em;
  margin: 90px;
}
#Premiertrait {
  height: 3px;
  width: 35%;
  margin: -1px auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 6px 2px 2px #000000;
}
h3 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 3em;
  text-shadow: 6px 2px 2px #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* ------------------- Presentation------------------------ */
